:root{
    --color-uno: #0bb164;
    --color-dos: #181818;
    --color-tres: #000000;
}
html,body{
    height: 100%;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
    overflow-y: auto;
}
section{
    height: 100vh;
    scroll-snap-align: start;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
img{
    border-radius: 10px;
    height: 70px;
}
nav{
    display: flex;
    align-items: center;
    position: fixed;
    height: 100px;
    background-color: var(--color-tres);
    width: 100vmax;
    gap: 15px;
    & a{
        text-decoration: none;
        font-size: 12px;
        color: white;
        padding: 15px;
        border-radius: 30px;
        &:hover{
            background-color: var(--color-uno);
        }
        &[href*="#sec1"]{
            background: none;
        }
    }
}

#sec1 .contenedor1{
    height: 100vmin;
    display: flex;
    align-items: end;
    justify-content: center;
    background-color: var(--color-dos);
    background-size: cover;
    padding: 40px;
    & .peliprincipal{
        background: linear-gradient(rgba(0, 0, 0, 0.205), rgba(46, 46, 46, 0.329)), url(sachin.png) no-repeat center center;
        background-size: cover;
        display: flex;
        justify-content: end;
        align-items: center;
        flex-direction: column;
        height: 60vh;
        width: 75vw;
        border-radius: 20px;
        margin-bottom: 40px;
        gap: 20px;
        padding-bottom: 40px;
    }
    & .desc{
        width: 700px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 15px;
        & h1{
            color: white;
        }
        & h4{
            color: rgb(201, 201, 201);
        }
    }
    & [href*="#sec2"]{
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        text-decoration: none;
        font-weight: bold;
        border: 2px white solid;
        border-radius: 20px;
        padding: 10px;
        font-size: 14px;
        cursor: pointer;
        background: none;
        width: 200px;
        &:hover{
            color: black;
            background-color: white;
        }
    }
}

input{
    opacity: 0;
}
label{
    width: 80px;
    height: 400px;
    cursor: pointer;
    border-radius: 2rem;
    margin: 10px;
    display: flex;
    align-items: end;
    background-color: #0bb164;
    overflow: hidden;
    transition: 0.5s ease;
}
input:checked+label{
    width: 600px;
}
input +label .descripcion{
    opacity: 0; !important
}
input:checked+label .descripcion{
    opacity: 1; !important
}
#sec2 .contenedor2{
    height: 100vmin;
    background-color: var(--color-dos);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    padding-top: 100px;
    & h1{
        color: white;
    }

    label[for=p1]{
        background: linear-gradient(rgba(0, 0, 0, 0.205), rgba(46, 46, 46, 0.329)), url(sachin.png) no-repeat center center;
        background-size: cover;
    }
    label[for=p2]{
        background: linear-gradient(rgba(0, 0, 0, 0.205), rgba(46, 46, 46, 0.329)), url(preconiante.png) no-repeat center center;
        background-size: cover;
    }
    label[for=p3]{
        background: linear-gradient(rgba(0, 0, 0, 0.205), rgba(46, 46, 46, 0.329)), url(oveeja.png) no-repeat center center;
        background-size: cover;
    }
    label[for=p4]{
        background: linear-gradient(rgba(0, 0, 0, 0.205), rgba(46, 46, 46, 0.329)), url(troche.png) no-repeat center center;
        background-size: cover;
    }
    label[for=p5]{
        background: linear-gradient(rgba(0, 0, 0, 0.205), rgba(46, 46, 46, 0.329)), url(perrro.png) no-repeat center center;
        background-size: cover;
    }

    & .peliculas{
        display: flex;
        & .peli1{
            }
            & .fila{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            & .numero{
                margin: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 60px;
                width: 60px;
                border: solid 3px rgb(54, 54, 54);
                background-color: rgb(185, 185, 185);
                border-radius: 20rem;
            }
            display: flex;
        }
        & .peli2{
            & .fila{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            & .numero{
                margin: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 60px;
                width: 60px;
                border: solid 3px rgb(54, 54, 54);
                background-color: rgb(185, 185, 185);
                border-radius: 20rem;
            }
            display: flex;
        }
        & .peli3{
            & .fila{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            & .numero{
                margin: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 60px;
                width: 60px;
                border: solid 3px rgb(54, 54, 54);
                background-color: rgb(185, 185, 185);
                border-radius: 20rem;
            }
            display: flex;
        }
        & .peli4{
            & .fila{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            & .numero{
                margin: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 60px;
                width: 60px;
                border: solid 3px rgb(54, 54, 54);
                background-color: rgb(185, 185, 185);
                border-radius: 20rem;
            }
            display: flex;
        }
        & .peli5{
            & .fila{
                display: flex;
                justify-content: center;
                align-items: center;
            }
            & .numero{
                margin: 10px;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 60px;
                width: 60px;
                border: solid 3px rgb(54, 54, 54);
                background-color: rgb(185, 185, 185);
                border-radius: 20rem;
            }
            display: flex;
        }
        
    }

#sec3 .contenedor3{
    height: 100vmin;
    background-color: var(--color-dos);
    display: flex;
    gap: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding-top: 100px;
    & h1{
        color: white;
    }
    & .nominados{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 50px;
    }
    & .nomi1{
        height: 200px;
        width: 200px;
        background: linear-gradient(rgba(0, 0, 0, 0.205), rgba(46, 46, 46, 0.329)), url(preca.jpeg) no-repeat center center;
        border-radius: 300px;
        background-size: cover;
        cursor: pointer;
        transition: 0.5s ease;
        &:hover{
            height: 300px;
            width: 300px;
            border-radius: 300px;
            background-size: cover;
            box-shadow: 0 5px 30px rgba(24, 241, 60, 0.493);
        }
    }
    & .nomi2{
        height: 200px;
        width: 200px;
        background: linear-gradient(rgba(0, 0, 0, 0.205), rgba(46, 46, 46, 0.329)), url(preca2.jpeg) no-repeat center center;
        border-radius: 300px;
        background-size: cover;
        cursor: pointer;
        transition: 0.5s ease;
        &:hover{
            height: 300px;
            width: 300px;
            border-radius: 300px;
            background-size: cover;
            box-shadow: 0 5px 30px rgba(24, 241, 60, 0.493);
        }
    }
    & .nomi3{
        height: 200px;
        width: 200px;
        background: linear-gradient(rgba(0, 0, 0, 0.205), rgba(46, 46, 46, 0.329)), url(sobri.jpeg) no-repeat center center;
        border-radius: 300px;
        background-size: cover;
        cursor: pointer;
        transition: 0.5s ease;
        &:hover{
            height: 300px;
            width: 300px;
            border-radius: 300px;
            background-size: cover;
            box-shadow: 0 5px 30px rgba(24, 241, 60, 0.493);
        }
    }
    & .nomi4{
        height: 200px;
        width: 200px;
        background: linear-gradient(rgba(0, 0, 0, 0.205), rgba(46, 46, 46, 0.329)), url(michi.jpeg) no-repeat center center;
        border-radius: 300px;
        background-size: cover;
        cursor: pointer;
        transition: 0.5s ease;
        &:hover{
            height: 300px;
            width: 300px;
            border-radius: 300px;
            background-size: cover;
            box-shadow: 0 5px 30px rgba(24, 241, 60, 0.493);
        }
    }
    & .nomi5{
        height: 200px;
        width: 200px;
        background: linear-gradient(rgba(0, 0, 0, 0.205), rgba(46, 46, 46, 0.329)), url(ali2.jpeg) no-repeat center center;
        border-radius: 300px;
        background-size: cover;
        cursor: pointer;
        transition: 0.5s ease;
        &:hover{
            height: 300px;
            width: 300px;
            border-radius: 300px;
            background-size: cover;
            box-shadow: 0 5px 30px rgba(24, 241, 60, 0.493);
        }
    }
    
}

#sec4 .contenedor4{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vmin;
    background-color: var(--color-dos);
    gap: 30px;
    padding-top: 100px;
    & h1{
        color: white;
    }
    gap: 15px;
    & .pronto{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        & .prox1{
            height: 300px;
            width: 200px;
            background-color: var(--color-uno);
            border-radius: 20px;
        }
        & .prox2{
            height: 300px;
            width: 200px;
            background-color: var(--color-uno);
            border-radius: 20px;
        }
        & .prox3{
            height: 300px;
            width: 200px;
            background-color: var(--color-uno);
            border-radius: 20px;
        }
        & .prox4{
            height: 300px;
            width: 200px;
            background-color: var(--color-uno);
            border-radius: 20px;
        }
        & .prox5{
            height: 300px;
            width: 200px;
            background-color: var(--color-uno);
            border-radius: 20px;
        }
    }  
}

#sec5 .contenedor5{
    height: 100vmin;
    background-color: var(--color-dos);
    padding-top: 100px;
    gap: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    & h1{
        color: white;
    }
}
#sec5 .contenedor5 .dulces{
    width: 90vmax;
    height: 400px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 15px;
}
#sec5 .cand1{
    grid-column: 1/3;
    grid-row: 1/3;
    background-color: var(--color-uno);
    border-radius: 20px;
}
#sec5 .cand2{
    background-color: var(--color-uno);
    border-radius: 20px;
}

#sec5 .cand3{
    background-color: var(--color-uno);
    border-radius: 20px;
}
#sec5 .cand4{
    background-color: var(--color-uno);
    grid-column: 3/5;
    border-radius: 20px;
}

#sec6 .contenedor6{
    height: 100vmin;
    background-color: var(--color-dos);
    gap: 30px;
    padding-top: 100px;
    & h1{
        color: white;
    }
}
#sec6 .contenedor6{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    & .promos{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 30px;
        & .prom1{
            height: 70px;
            width: 90vmax;
            background-color: var(--color-uno);
            border-radius: 20px;
        }
        & .prom2{
            height: 70px;
            width: 90vmax;
            background-color: var(--color-uno);
            border-radius: 20px;
        }
        & .prom3{
            height: 70px;
            width: 90vmax;
            background-color: var(--color-uno);
            border-radius: 20px;
        }
        & .prom4{
            height: 70px;
            width: 90vmax;
            background-color: var(--color-uno);
            border-radius: 20px;
        }
    }
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;  /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
  
    /* Support for all WebKit browsers. */
    -webkit-font-smoothing: antialiased;
    /* Support for Safari and Chrome. */
    text-rendering: optimizeLegibility;
  
    /* Support for Firefox. */
    -moz-osx-font-smoothing: grayscale;
  
    /* Support for IE. */
    font-feature-settings: 'liga';
  }